# ─────────────────────────────────────────────
# .gitignore — NYT Books Explorer
# ─────────────────────────────────────────────

# Archivo de configuración local con la API Key
# config.js (Comentado para poder subir la clave a GitHub)

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
*.swo